{% extends "AppNico/index.html" %}
{% load static %}



{% block section1 %}
{% block section2 %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registrarse en TuBlog</h1>
    <form action="" method="POST">

        {% csrf_token %}

        {{form.as_table}}

        <button type="submit">Registrate</button>    
    </form>

    
</body>
</html>

{% endblock %}
{% endblock %}

